<%- include("partials/header"); -%>

<h1>Contact</h1>
<p><%= contactContent %></p>
<br>
<img src="https://cdn.pixabay.com/photo/2016/12/15/12/24/contact-us-1908762__340.png" alt="Img not responding">
<ul class="contentc">
    <li><a href="https://www.linkedin.com/in/ashish-kumar-tiwari-6165081b3/">LINKEDIN</a></li>
    <li><a href="https://github.com/ashishrx23">GITHUB</a></li>
    
</ul>

<%- include("partials/footer"); -%>
